<!DOCKTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Contact.css" />

</head>
<center>
<div class="div">
    <div class="div-2">
        <div class="div-3">

            <button type="submit" value="submit" style="color:white" class="div-4" onclick="window.location.href = '/Home/homepage';">Home</button>
            <button type="submit" value="submit" style="color:white" class="div-5" onclick="window.location.href = '/Home/News';">News</button>
            <button type="submit" value="submit" style="color:white" class="div-6" onclick="window.location.href = '/Home/Ngo';">NGO</button>
            <button type="submit" value="submit" style="color:white" class="div-7" onclick="window.location.href = '/Home/Contact';">Contact</button>
        
        </div>
            <button type="submit" value="submit" style="color:white" class="div-9" onclick="window.location.href = '/Home/user_login';">Logout</button>
        </div>
    <div class="div-10">
        <div class="div-11">
            <div class="column">
                <img loading="lazy"
                     srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/40d12932e3e1b81ffe1c1cae067958d3c95070e684e4750ebac80c2540deddb2?apiKey=63a25bb56b444bb3acee857b761041d3&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/40d12932e3e1b81ffe1c1cae067958d3c95070e684e4750ebac80c2540deddb2?apiKey=63a25bb56b444bb3acee857b761041d3&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/40d12932e3e1b81ffe1c1cae067958d3c95070e684e4750ebac80c2540deddb2?apiKey=63a25bb56b444bb3acee857b761041d3&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/40d12932e3e1b81ffe1c1cae067958d3c95070e684e4750ebac80c2540deddb2?apiKey=63a25bb56b444bb3acee857b761041d3&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/40d12932e3e1b81ffe1c1cae067958d3c95070e684e4750ebac80c2540deddb2?apiKey=63a25bb56b444bb3acee857b761041d3&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/40d12932e3e1b81ffe1c1cae067958d3c95070e684e4750ebac80c2540deddb2?apiKey=63a25bb56b444bb3acee857b761041d3&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/40d12932e3e1b81ffe1c1cae067958d3c95070e684e4750ebac80c2540deddb2?apiKey=63a25bb56b444bb3acee857b761041d3&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/40d12932e3e1b81ffe1c1cae067958d3c95070e684e4750ebac80c2540deddb2?apiKey=63a25bb56b444bb3acee857b761041d3&"
                     class="img"
                     />
            </div>
            <div class="column-2">
                <div class="div-12">
                    <div class="div-13"> CONTACT US</div>
\
                    <input type="text" placeholder="Enter Full Name" div class="div-14"><br />
                    <input type="text" placeholder="Enter E-mail" div class="div-15"><br />
                    <input type="text" placeholder="Description Here..." div class="div-16"><br />

                        <button type="submit" value="submit" style="color:white" class="div-17" onclick="window.location.href = '/Home/homepage';">Submit</button>
                    </div>
            </div>
        </div>
    </div>
</div>
</center>
</html>