<!DOCKTYPE html>
<html>

    <head>
    <link rel="stylesheet" href="~/css/Fundraiser.css" />

    </head>
<div class="div">
    <div class="div-2">
        <div class="div-3"> FUNDRAISER</div>
        <div class="div-4">
            <div class="div-5"> How much do you want to raise?</div>
            <input type="text" placeholder="Enter Amount" div class="div-6"></div>
            <div class="div-7"> The patient is my?</div>
            <input type="text" placeholder="Mother" div class="div-8"> 
            <div class="div-9"> Your education qualification?</div>
            <input type="text" placeholder="Enter Qualification" div class="div-10">
            <div class="div-11"> Your Employee Status</div>
            <input type="text" placeholder="Enter employee status"div class="div-12"></div>
            <div class="div-13"> Patient Full Name</div>
            <input type="text" placeholder="Enter full name" div class="div-14">
            <div class="div-15"> Patient’s Age</div>
            <input type="text" placeholder="Enter age" div class="div-16">
            <div class="div-17"> Patient’s Medical Conditions?</div>
            <input type="text" placeholder="Enter medical condition" div class="div-18">
            <div class="div-19">  Hospital Name</div>
            <input type="text" placeholder="Enter hospital name" div class="div-20">
            <div class="div-21"> Address</div>
            <input type="text" placeholder="Enter address" div class="div-22">
            <div class="div-23">
                <ol>
                    <li>
                        Patient’s Image( <span style="color: rgba(255, 18, 18, 1)">PNG</span>, <span style="color: rgba(255, 0, 0, 1)">JPG</span> )
                    </li>
                </ol>
            </div>
            <div class="div-24">
                <div class="div-25"> Choose file</div>
                <div class="div-26"> No file has chosen</div>
            </div>
            <div class="div-27">
                <ol>
                    <li>
                        Patient’s Document and Report (
                        <span style="color: rgba(255, 0, 0, 1)">PDF</span>
                        ,
                        <span style="color: rgba(255, 0, 0, 1)">PPT</span>
                        )
                    </li>
                </ol>
            </div>
            <div class="div-28">
                <div class="div-29"> Choose file</div>
                <div class="div-30"> No file has chosen</div>
            </div>
            <div class="div-31"> Patient’s Description</div>
            <input type="text" placeholder="Patient's Description" div class="div-32"></div>
                <button type="submit" value="submit" style="color:white" class="div-33" onclick="window.location.href = '/Home/homepage';">Submit</button>

        </div>
    </div>
</div>
</html>