<!DOCKTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/homepage.css" />

</head>
<body class="page-background">
<div class="div">
    <div class="div-2">
        <div class="div-3">
            <button type="submit" value="submit" style="color:white" class="div-4" onclick="window.location.href = '/HomeController/News">Home</button>
            <button type="submit" value="submit" style="color:white" class="div-5" onclick="window.location.href = '/Home/News';">News</button>
            <button type="submit" value="submit" style="color:white" class="div-6" onclick="window.location.href = '/Home/Ngo';">NGO</button>
            <button type="submit" value="submit" style="color:white" class="div-8" onclick="window.location.href = '/Home/Contact';">Contact</button>
        </div>
        <button type="submit" value="submit" style="color:white" class="div-9" onclick="window.location.href = '/Home/user_login';">Logout</button>
        </div>
    <div class="div-10">
        <div class="div-11">SAVE LIFE</div>
        <div class="div-12">Crowdfunding</div>
        <div class="div-13">
            Raise Funds online for medical issues, farmer and
            <br />
            other causes to save a life
        </div>
        <div class="div-14">
            <div class="div-15">
                <div class="div-16">80,403+</div>
                <div class="div-17">FUNDRAISER</div>
            </div>
            <div class="div-18">
                <div class="div-19">Rs. 200Cr+</div>
                <div class="div-20">RAISED</div>
            </div>
            <div class="div-21">
                <div class="div-22">100L+</div>
                <div class="div-23">DONATIONS</div>
            </div>
        </div>
        <button type="submit" value="submit" style="color:white" class="div-24" onclick="window.location.href = '/Home/Fundraiser';">Save A life - Free Fundraiser</button>

    </div>
    <div class="div-25">
        <div class="div-26">EMERGENCY FUNDRAISER</div>
        <div class="div-27">
            <div class="div-28">
                <div class="column">
                    <div class="div-29">
                        <div class="div-30">Spandana Reddy</div>
                        <div class="div-31">$22,430/ $30,000</div>
                        <button type="submit" value="submit" style="color:white" class="div-32" onclick="window.location.href = '/Home/Payment';">Donate</button>

                    </div>
                </div>
                <div class="column-2">
                    <div class="div-33">
                        <div class="div-34">Sanju Mehta</div>
                        <div class="div-35">$5,580/ $10,000</div>
                        <button type="submit" value="submit" style="color:white" class="div-36" onclick="window.location.href = '/Home/Payment';">Donate</button>

                    </div>
                </div>
                <div class="column-3">
                    <div class="div-37">
                        <div class="div-38">Varun Thaduri</div>
                        <div class="div-39">$33,664/ $40,000</div>
                        <button type="submit" value="submit" style="color:white" class="div-40" onclick="window.location.href = '/Home/Payment';">Donate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div-41">CATEGORIES</div>
    <div class="div-42">
        <div class="div-43">
            <div class="column-4"><div class="div-44">MEDICAL</div></div>
            <div class="column-5"><div class="div-45">EDUCATION</div></div>
            <div class="column-6"><div class="div-46">FARMER</div></div>
            <div class="column-7"><div class="div-47">CHILDREN</div></div>
        </div>
    </div>
    <div class="div-48">
        <div class="div-49">
            <div class="column-8"><div class="div-50">ENVIRONMENT</div></div>
            <div class="column-9"><div class="div-51">ANIMALS</div></div>
            <div class="column-10"><div class="div-52">FOODS</div></div>
            <div class="column-11"><div class="div-53">COMMUNITY</div></div>
        </div>
    </div>
    <div class="div-54">
        <div class="div-55">
            <div class="column-12">
                <div class="div-56">
                    <div class="div-57">CONTACT US</div>
                    <div class="div-58">Email:- save.life@gmail.com</div>
                    <div class="div-59">Mobile No:-8899889944</div>
                </div>
            </div>
            <div class="column-13">
                <div class="div-60">
                    <div class="div-61">
                        <div class="column-14">
                            <div class="div-62">
                                <div class="div-63">CATEGORIES</div>
                                <div class="div-64">Medical</div>
                                <div class="div-65">Education</div>
                                <div class="div-66">Farmer</div>
                                <div class="div-67">Children</div>
                                <div class="div-68">Environment</div>
                                <div class="div-69">Animals</div>
                                <div class="div-70">Foods</div>
                                <div class="div-71">Community</div>
                            </div>
                        </div>
                        <div class="column-15">
                            <div class="div-72">
                                <div class="div-73">MORE LINKS</div>
                                <div class="div-74">
                                    <div class="div-75">Home</div>
                                    <div class="div-76">Fundraiser</div>
                                    <div class="div-77">NGO</div>
                                    <div class="div-78">Donator</div>
                                    <div class="div-79">Success Stories</div>
                                    <div class="div-80">About Us</div>
                                    <div class="div-81">ContactUs</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column-16">
                <div class="div-82">
                    <div class="div-83">
                        <div class="div-84">TOTAL DONATION</div>
                        <div class="div-85">56,33,98,530</div>
                    </div>
                    <div class="div-86">
                        <div class="div-87">TOTAL DONATOR</div>
                        <div class="div-88">7,894</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<html>