<!DOCKTYPE html>
<html>

<div style="width: 1120px; height: 1233px; position: relative; background: white">
    <div style="width: 1120px; height: 768px; left: 0px; top: 535px; position: absolute"></div>
    <div style="width: 1120px; height: 651px; left: 0px; top: 58px; position: absolute"></div>
    <div style="width: 262px; height: 314px; left: 298px; top: 186px; position: absolute; background: #003AAA; border-radius: 20px; overflow: hidden">
        <div style="width: 289px; height: 183px; left: -1px; top: 0px; position: absolute; border-top-left-radius: 20px; border-top-right-radius: 20px"></div>
        <div style="left: 47px; top: 197px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Train Accident</div>
        <div style="width: 109px; height: 41px; left: 76px; top: 256px; position: absolute; background: black; border-radius: 4px"></div>
        <div style="left: 98px; top: 267px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">DONATE</div>
    </div>
    <div style="width: 262px; height: 314px; left: 573px; top: 186px; position: absolute; background: #003AAA; border-radius: 20px; overflow: hidden">
        <div style="width: 289px; height: 183px; left: -1px; top: 0px; position: absolute; border-top-left-radius: 20px; border-top-right-radius: 20px"></div>
        <div style="left: 47px; top: 197px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Farmer Welfare</div>
        <div style="width: 109px; height: 41px; left: 77px; top: 256px; position: absolute; background: black; border-radius: 4px"></div>
        <div style="left: 98px; top: 267px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">DONATE</div>
    </div>
    <div style="width: 262px; height: 314px; left: 848px; top: 186px; position: absolute; background: #003AAA; border-radius: 20px; overflow: hidden">
        <div style="width: 289px; height: 183px; left: -1px; top: 0px; position: absolute; border-top-left-radius: 20px; border-top-right-radius: 20px"></div>
        <div style="left: 47px; top: 197px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Fire Accident in <br />School</div>
        <div style="width: 109px; height: 41px; left: 76px; top: 259px; position: absolute; background: black; border-radius: 4px"></div>
        <div style="left: 98px; top: 270px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">DONATE</div>
    </div>
    <div style="width: 262px; height: 314px; left: 17px; top: 186px; position: absolute; background: #003AAA; border-radius: 20px; overflow: hidden">
        <div style="width: 289px; height: 183px; left: -1px; top: 0px; position: absolute; border-top-left-radius: 20px; border-top-right-radius: 20px"></div>
        <div style="left: 47px; top: 197px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Oil Blast in Assam</div>
        <div style="width: 109px; height: 41px; left: 76px; top: 259px; position: absolute; background: black; border-radius: 4px"></div>
        <div style="left: 98px; top: 270px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">DONATE</div>
    </div>
    <div style="width: 1120px; height: 60px; left: 0px; top: 0px; position: absolute; background: #B9E6FF">
        <div style="width: 49px; height: 45px; left: 26px; top: 8px; position: absolute"></div>
        <div style="width: 62px; height: 28px; left: 108px; top: 15px; position: absolute; background: #003AAA; border-radius: 3px"></div>
        <div style="left: 122px; top: 22px; position: absolute; color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Home</div>
        <div style="width: 62px; height: 28px; left: 187px; top: 15px; position: absolute; background: #003AAA; border-radius: 3px"></div>
        <div style="left: 201px; top: 22px; position: absolute; color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">News</div>
        <div style="width: 90px; height: 28px; left: 266px; top: 15px; position: absolute; background: #003AAA; border-radius: 3px"></div>
        <div style="left: 280px; top: 22px; position: absolute; color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">NGO</div>
        <div style="width: 68px; height: 28px; left: 373px; top: 15px; position: absolute; background: #003AAA; border-radius: 3px"></div>
        <div style="left: 387px; top: 22px; position: absolute; color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Stories</div>
        <div style="width: 73px; height: 28px; left: 458px; top: 15px; position: absolute; background: #003AAA; border-radius: 3px"></div>
        <div style="left: 472px; top: 22px; position: absolute; color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contact</div>
        <div style="width: 69px; height: 28px; left: 1027px; top: 16px; position: absolute; background: #003AAA; border-radius: 3px"></div>
        <div style="left: 1041px; top: 23px; position: absolute; color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">Logout</div>
    </div>
    <div style="width: 1120px; height: 245px; left: 0px; top: 828px; position: absolute; background: #131D53">
        <div style="width: 57px; height: 52px; left: 91px; top: 21px; position: absolute"></div>
        <div style="width: 178px; height: 36px; left: 35px; top: 87px; position: absolute"></div>
        <div style="left: 58px; top: 137px; position: absolute; color: #B9E6FF; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">CONTACT US</div>
        <div style="left: 20px; top: 175px; position: absolute; color: #B9E6FF; font-size: 16px; font-family: Inter; font-weight: 700; word-wrap: break-word">Email:- save.life@gmail.com</div>
        <div style="left: 21px; top: 200px; position: absolute; color: #B9E6FF; font-size: 16px; font-family: Inter; font-weight: 700; word-wrap: break-word">Mobile No:-8899889944</div>
        <div style="left: 297px; top: 9px; position: absolute; color: #B9E6FF; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">CATEGORIES</div>
        <div style="left: 334px; top: 47px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">Medical</div>
        <div style="left: 334px; top: 70px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">Education</div>
        <div style="left: 335px; top: 93px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">Farmer</div>
        <div style="left: 335px; top: 114px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">Children</div>
        <div style="left: 335px; top: 137px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">Environment</div>
        <div style="left: 336px; top: 160px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">Animals</div>
        <div style="left: 336px; top: 183px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">Foods</div>
        <div style="left: 336px; top: 204px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">Community</div>
        <div style="left: 570px; top: 9px; position: absolute; color: #B9E6FF; font-size: 24px; font-family: Inter; font-weight: 700; word-wrap: break-word">MORE LINKS</div>
        <div style="left: 607px; top: 47px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">Home</div>
        <div style="left: 607px; top: 70px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">Fundraiser</div>
        <div style="left: 608px; top: 93px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">NGO</div>
        <div style="left: 608px; top: 114px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">Donator</div>
        <div style="left: 608px; top: 137px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">Success Stories</div>
        <div style="left: 609px; top: 160px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">About Us</div>
        <div style="left: 609px; top: 183px; position: absolute; color: #B9E6FF; font-size: 14px; font-family: Inter; font-weight: 700; word-wrap: break-word">ContactUs</div>
        <div style="width: 205px; height: 70px; left: 873px; top: 23px; position: absolute; background: #FF4B4B"></div>
        <div style="left: 921px; top: 61px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 700; word-wrap: break-word">56,33,98,530</div>
        <div style="left: 886px; top: 34px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">TOTAL DONATION</div>
        <div style="width: 205px; height: 70px; left: 873px; top: 128px; position: absolute; background: #006F04"></div>
        <div style="left: 953px; top: 169px; position: absolute; color: white; font-size: 16px; font-family: Inter; font-weight: 700; word-wrap: break-word">7,894</div>
        <div style="left: 890px; top: 137px; position: absolute; color: white; font-size: 20px; font-family: Inter; font-weight: 700; word-wrap: break-word">TOTAL DONATOR</div>
    </div>
    <div style="width: 379px; height: 35px; left: 35px; top: 116px; position: absolute; background: #B9E6FF; border-radius: 5px"></div>
    <div style="left: 54px; top: 125px; position: absolute; color: #7D7D7D; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Search Here</div>
</div>
</html>