<!DOCKTYPE html>
<html>
<div style="width: 1120px; height: 2155px; position: relative; background: white">
    <div style="width: 1120px; height: 607px; left: 0px; top: 576px; position: absolute"> </div>
    <div style="width: 1120px; height: 607px; left: 0px; top: 857px; position: absolute"> </div>
    <div style="width: 1120px; height: 607px; left: 0px; top: 1400px; position: absolute"> </div>
    <div style="width: 1120px; height: 607px; left: -4px; top: 1548px; position: absolute"> </div>
    <div style="width: 1120px; height: 607px; left: 0px; top: 0px; position: absolute"> </div>
    <div style="width: 779px; height: 2007px; left: 166px; top: 59px; position: absolute; background: #B9E6FF">
        <div style="left: 353px; top: 12px; position: absolute; color: #131D53; font-size: 32px; font-family: Inter; font-weight: 600; word-wrap: break-word"> NGO</div>
        <div style="left: 52px; top: 85px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Is User organization a registered Non-profit?</div>
        <div style="width: 555px; height: 45px; left: 50px; top: 198px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px"> </div>
        <div style="left: 67px; top: 212px; position: absolute; color: #4181FF; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Organization Name</div>
        <div style="left: 52px; top: 172px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Name of the Organization</div>
        <div style="width: 555px; height: 45px; left: 50px; top: 285px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px"> </div>
        <div style="left: 67px; top: 299px; position: absolute; color: #4181FF; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Enter Address</div>
        <div style="left: 52px; top: 259px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Organization's Registered Address</div>
        <div style="left: 52px; top: 346px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Cause Supported (Choose Any One)</div>
        <div style="width: 16px; height: 15px; left: 82px; top: 115px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
        <div style="left: 106px; top: 114px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Yes</div>
        <div style="width: 16px; height: 15px; left: 82px; top: 136px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
        <div style="left: 106px; top: 135px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> No</div>
        <div style="width: 16px; height: 15px; left: 90px; top: 380px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
        <div style="left: 114px; top: 379px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Medical</div>
        <div style="width: 16px; height: 15px; left: 90px; top: 406px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
        <div style="left: 114px; top: 405px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Education</div>
        <div style="width: 16px; height: 15px; left: 90px; top: 432px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
        <div style="left: 114px; top: 431px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Farmer</div>
        <div style="width: 16px; height: 15px; left: 90px; top: 458px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
        <div style="left: 114px; top: 457px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Children</div>
        <div style="width: 16px; height: 15px; left: 90px; top: 484px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
        <div style="left: 114px; top: 483px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Animals</div>
        <div style="width: 16px; height: 15px; left: 90px; top: 510px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
        <div style="left: 114px; top: 509px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Environment</div>
        <div style="width: 16px; height: 15px; left: 90px; top: 536px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
        <div style="left: 114px; top: 535px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Foods</div>
        <div style="width: 16px; height: 15px; left: 90px; top: 562px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
        <div style="left: 114px; top: 561px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Community</div>
        <div style="width: 555px; height: 45px; left: 52px; top: 614px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px"> </div>
        <div style="left: 69px; top: 628px; position: absolute; color: #4181FF; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Founder Name</div>
        <div style="left: 54px; top: 588px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Founder’s Name</div>
        <div style="width: 555px; height: 45px; left: 50px; top: 708px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px"> </div>
        <div style="left: 67px; top: 722px; position: absolute; color: #4181FF; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Enter Name</div>
        <div style="left: 52px; top: 682px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Name</div>
        <div style="width: 555px; height: 45px; left: 50px; top: 802px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px"> </div>
        <div style="left: 67px; top: 816px; position: absolute; color: #4181FF; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Enter Email</div>
        <div style="left: 52px; top: 776px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Email Id</div>
        <div style="width: 555px; height: 45px; left: 48px; top: 896px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px"> </div>
        <div style="left: 65px; top: 910px; position: absolute; color: #4181FF; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Enter Mobile No</div>
        <div style="left: 50px; top: 870px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Mobile No</div>
        <div style="width: 555px; height: 45px; left: 48px; top: 990px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px"> </div>
        <div style="left: 65px; top: 1004px; position: absolute; color: #4181FF; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Enter Designation</div>
        <div style="left: 50px; top: 964px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Designation</div>
        <div style="width: 555px; height: 45px; left: 48px; top: 1234px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px"> </div>
        <div style="left: 65px; top: 1248px; position: absolute; color: #4181FF; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Website URL</div>
        <div style="left: 48px; top: 1503px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> What is your organization’s total employee strength?</div>
        <div style="width: 16px; height: 15px; left: 78px; top: 1533px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
        <div style="left: 102px; top: 1532px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> 0 to 10</div>
        <div style="width: 16px; height: 15px; left: 78px; top: 1554px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
        <div style="left: 102px; top: 1553px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> 10 to 30</div>
        <div style="width: 16px; height: 15px; left: 78px; top: 1574px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
        <div style="left: 102px; top: 1573px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> More Than 30</div>
        <div style="left: 48px; top: 1689px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Tell us about your NGO.</div>
        <div style="width: 555px; height: 209px; left: 48px; top: 1731px; position: absolute; background: white; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px"> </div>
        <div style="left: 65px; top: 1745px; position: absolute; color: #4181FF; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Tell Us Here...</div>
        <div style="width: 96px; height: 36px; left: 48px; top: 1959px; position: absolute; background: #131D53; border-radius: 8px"> </div>
        <div style="left: 74px; top: 1969px; position: absolute; color: white; font-size: 13px; font-family: Inter; font-weight: 400; word-wrap: break-word"> Submit</div>
    </div>
    <div style="left: 220px; top: 1138px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Does your organization have 80G certification?</div>
    <div style="width: 16px; height: 15px; left: 250px; top: 1168px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
    <div style="left: 274px; top: 1167px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Yes</div>
    <div style="width: 16px; height: 15px; left: 250px; top: 1189px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
    <div style="left: 274px; top: 1188px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> No</div>
    <div style="left: 220px; top: 1214px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Does your organization have FCRA certification?</div>
    <div style="width: 16px; height: 15px; left: 250px; top: 1244px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
    <div style="left: 274px; top: 1243px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Yes</div>
    <div style="width: 16px; height: 15px; left: 250px; top: 1265px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
    <div style="left: 274px; top: 1264px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> No</div>
    <div style="left: 220px; top: 1390px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Last Financial Year’s Budget</div>
    <div style="width: 16px; height: 15px; left: 250px; top: 1420px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
    <div style="left: 274px; top: 1419px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> 0 to 10L</div>
    <div style="width: 16px; height: 15px; left: 250px; top: 1441px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
    <div style="left: 274px; top: 1440px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> 10 to 25L</div>
    <div style="width: 16px; height: 15px; left: 250px; top: 1461px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
    <div style="left: 274px; top: 1460px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> 25 to 50L</div>
    <div style="left: 218px; top: 1490px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Total Donor Database Strength</div>
    <div style="width: 16px; height: 15px; left: 248px; top: 1520px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
    <div style="left: 272px; top: 1519px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> 0 to 50</div>
    <div style="width: 16px; height: 15px; left: 248px; top: 1541px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
    <div style="left: 272px; top: 1540px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> 50 to 200</div>
    <div style="width: 16px; height: 15px; left: 248px; top: 1561px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
    <div style="left: 272px; top: 1560px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> More Than 200 </div>
    <div style="left: 220px; top: 1293px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Website URL</div>
    <div style="left: 218px; top: 1687px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Have you Crowdfunded before?</div>
    <div style="width: 16px; height: 15px; left: 248px; top: 1717px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
    <div style="left: 272px; top: 1716px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> Yes</div>
    <div style="width: 16px; height: 15px; left: 248px; top: 1738px; position: absolute; background: white; border-radius: 9999px; border: 1px black solid"> </div>
    <div style="left: 272px; top: 1737px; position: absolute; color: #003AAA; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word"> No</div>
</div>
</html>