
<head>
    <link rel="stylesheet" href="~/css/Payment.css" />

</head>

<div class="div">
    <div class="div-2">PAYMENT</div><br />
    <input type="text" placeholder="Enter Amount" div class="div-3"><br />
    <input type="text" placeholder="Enter Full Name" div class="div-4"><br />
    <input type="text" placeholder="Enter E-mail" div class="div-5"><br />
    <input type="text" placeholder="Enter Mobile No." div class="div-6"><br />
    <input type="text" placeholder="Enter Address" div class="div-7"><br />
    <input type="text" placeholder="Enter Pan Card No." div class="div-8"><br />
    <button type="submit" value="submit" style="color:white" class="div-9" onclick="window.location.href = '/Home/Paymentmethod';">Sign up</button>

</div>
