
<head>
    <link rel="stylesheet" href="~/css/Payment.css" />

</head>

<div class="div">
    <div class="div-2">PAYMENT METHOD</div>
    <input type="text" placeholder="Enter UPI" div class="div-3"></div>
    <input type="text" placeholder="Enter Debit Card No." div class="div-4"><br />
    <input type="text" placeholder="Enter Cradit Card No." div class="div-5"><br /> 
    <input type="text" placeholder="Enter UPI No." div class="div-6"><br />

    <button type="submit" value="submit" style="color:white" class="div-9" onclick="window.location.href = '/Home/Success';">Sign up</button>

</div>
