<!DOCKTYPE html>
<html>

    <head>
    <link rel="stylesheet" href="~/css/Sign_up.css" />

    </head>


<div class="div">
    <div class="div-2">
        <div class="div-3">SIGNUP</div>
        <input type="text" placeholder="Enter Full Name" div class="div-4">
    </div>
    <input type="text" placeholder="Enter E-mail" div class="div-5">
</div>
<input type="text" placeholder="Enter Password" div class="div-6"><br />
<input type="text" placeholder="Enter Mobile No." div class="div-7"><br />
        <button type="submit" value="submit" style="color:white" class="div-9" onclick="window.location.href = '/Home/user_login';">Sign Up</button>
    </div>
</div>

</html>